* {
  font-family: 'Raleway', sans-serif;
  color: #051653;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  h1 {
    margin-left: 15px;

    a {
      font-size: 3rem;
    }
  }

  a {
    font-size: 1.5rem;
    margin-right: 20px;
    text-decoration: none;
    color: #051653;
    font-weight: 500;
  }
}

#explanation {
  font-size: 1.3rem;
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  line-height: 30px;
  font-weight: 500;

  p {
    margin: 0;
  }
}

.question {
  width: 100%;
  background-color: #f6f8fa;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 550px;
    margin: auto;
    padding: 20px 0;
    p {
      font-size: 1.1rem;
      font-weight: 500;
    }
    form {
      margin: 0;
      input {
        border: 2px solid #051653;
        padding: 5px 10px;
        font-size: 1.1rem;
        outline: none;
      }
      input[type='submit'] {
        color: white;
        background-color: #051653;
        font-weight: 500;
        letter-spacing: 1px;
        margin-left: 10px;
        cursor: pointer;
      }
      input[type='checkbox'] {
        display: none;
      }
      .currency {
        display: inline-block;
        width: 80px;
        border: 2px solid #051653;
        padding: 5px 10px;
        text-align: center;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
  }
}

.editing {
  text-align: start !important;
  label {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 5px 0;
  }
  form {
    margin: 0;
  }
  input {
    border: 2px solid #051653;
    width: 100%;
    padding: 5px 10px;
    font-size: 1.1rem;
    margin: 10px 0;
    outline: none;
  }
  input[type='submit'] {
    color: white;
    background-color: #051653;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 0;
  }
  ::placeholder {
    color: #05165350;
  }
}

#portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 100%;
  background-color: #f6f8fa;

  .crypto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #051653;
    width: 200px;
    height: 200px;
    padding: 30px 30px;
    margin: 40px 10px 40px 10px;
    text-align: center;
    background-color: white;
    position: relative;

    &:hover .delete {
      visibility: visible;
      color: orangered;
    }

    .emoji {
      font-size: 1.2rem;
      margin: 0;
    }

    .name {
      font-size: 1.2rem;
      font-weight: 700;
      margin: 3px 0;
    }

    .price {
      font-size: 1rem;
      font-weight: 400;
      margin: 6px 0;
    }

    .new {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .plus {
      font-size: 8rem;
      font-weight: 200;
      margin: 0;
      line-height: 60px;
      margin-bottom: 5px;
    }

    .delete {
      position: absolute;
      top: 10px;
      right: 10px;
      visibility: hidden;
      font-size: 0.9rem;
      cursor: pointer;
      border: 1px solid orangered;
      padding: 3px 6px;
    }
  }

  .hover:hover {
    cursor: pointer;
    background-color: #f6f8fa;
  }
}
